/* Layout */


#container
{
	width: 960px;
	margin: auto;
	height: auto;
	background-color: #51473d;
	background-repeat: no-repeat;
	border: 1px solid #cecab9;
}

header
{
	text-align: right;
	font-family: Verdana;
	font-size: 0.65em;
	height: 150px;
	float: left;
	width: 960px;
	background-color: #51473d;
	background-image: url(pics/background-picture.png);
	background-repeat: no-repeat;
	background-position: 1px 18px;
	color: #eae7d2;
	font-style: italic;
}

nav
{
    padding: 0px;
    display: inline-block;
    height: 35px;
}

nav ul
{
 
	list-style: none;
	font-weight: normal;
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: -30px;
	margin-bottom: 5px;
	margin-left: -30px;
}

nav ul li
{
    
    float: left;
}

nav ul li a
{
    
    width: 100px;
	display: block;
	font-family: Verdana;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	color: #eae7d2;
	margin-left: 1px;
	text-transform: capitalize;
	background-color: #797066;
	padding-top: 9px;
	padding-right: 25px;
	padding-bottom: 9px;
	padding-left: 25px;
}

#home-icon
{
    background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 10px -43px;
}

#home-icon:hover
{
    background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
}

#lab-icon
{
    	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 4px -138px;
}

#lab-icon:hover
{
    	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 4px -90px;
}

#presentation-icon
{
    	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 4px -234px;
}

#presentation-icon:hover
{
    	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 4px -186px;
}

#kontakt-icon
{
    	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 9px -330px;
}

#kontakt-icon:hover
{
      	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 9px -282px;
}

nav .active
{
   background-color: #eae7d2;
   color:#888076;
}

nav ul li a:hover
{
	color: #eae7d2;
	background-color: #9c9084;
}





main ul
{
    
    list-style: none;
}

main
{
    list-style: none;
	background: #eae7d2;
	font-family: Verdana;
	font-size: 0.8em;	
	color: #797066;
	text-align: left;
	line-height: 20px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#Flod
{
	float: right;
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-left: 4px;
}



footer
{
    text-align: center;
    color: #FFF;
    font-size: 0.6em;
    font-style: italic;
    width: 600px;
    
}

article footer
{
    color: #797066;
    font-style: italic;
    font-size: 0.8em;
    text-align: left;
}

.commentary {
    display: block;
    border: medium none;
    margin-top:none;
    background-color: rgb(215, 209, 202);
    padding: 0px 0px 2px 5px;
}

.commentary h4 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    margin-bottom: 0px;
    font-weight: bold;
}

.commentary p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-style: italic;
    margin-top: 0px;
}

a:link
{
    color: #797066;
}

a:visited
{
    color: #797066;
}

 a:hover 
 {
 color: black;
 }
 
 #textarea 
{
    height: 100px;
    
}

main form textarea, #title, select
{
    width: 300px;
    margin-bottom: 20px;
    resize: vertical;
}

main form 
{
    width: 500px;
}

main form label 
{
    width: 140px;
    text-align: right;
    display: block;
    float: left;
    padding-right:10px;
    clear: left;
}

#email
{
    margin-bottom: 10px;
}

fieldset
{
    margin: 0 10px 10px 10px;
}
 
 
table
{
    margin-left: 2px;
}

td 
{
    border: 1px solid black;
}


th
{ 
    border: 1px solid black;
}


#hcard-Tommy-Tri-Minh-Nguyen
{
    font-style: italic;
    width: 100%;
    color: black;
    background-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
}

/* Text */

h1
{
    font-family: "Times New Roman";
	font-weight: bold;
	color: #797066;
	font-size: 2em;
}

h2
{
    border-bottom: 1px solid #797066;
    font-family: "Times New Roman";
	font-weight: lighter;
	color: #797066;
	font-size: 1.7em;
}