body
{
    font-family: 'Molle', cursive;
	height:100%;
    background-color:#333;
}

a
{
     -o-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
     -webkit-transform:rotate(5deg);
     -moz-transform: rotate(5deg);
      transform: rotate(5deg);

    -o-transition:1s;
    -ms-transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
     transition:1s;
     
     padding: 10px 10px 20px;
     background-color: white;
     float: left;
     display:block;
     box-shadow: 3px 15px 3px #111111;
}

a:nth-child(1)
{
    transform: rotate(-5deg);
}

a:nth-child(2)
{
    transform: rotate(10deg);
}

a:nth-child(3)
{
    transform: rotate(5deg);
}

a:nth-child(4)
{
    transform: rotate(15deg);
}

a:nth-child(5)
{
    transform: rotate(-5deg);
}

a:nth-child(6)
{
    transform: rotate(5deg);
}

a:nth-child(7)
{
    transform: rotate(10deg);
}