body
{
    font-family: 'Sigmar One', cursive;
	height:100%;
    background-color:#333;
}

container
{
    width: 100%;
}

a
{
     margin-top: 30px;
     margin-left: 40px;
     position:relative;
     padding: 10px 10px 20px;
     background-color: white;
     float: left;
     display:block;
     box-shadow: 3px 15px 3px #111111;
     text-decoration: none;
     color: black;
}


a:nth-child(1)
{
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -moz-transform: rotate(-5deg);
     transform: rotate(-5deg);
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:nth-child(2)
{
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform: rotate(4deg);
     transform: rotate(4deg);
     font-size:150%;
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:nth-child(3)
{
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -webkit-transform:rotate(-12deg);
    -moz-transform: rotate(-12deg);
     transform: rotate(-12deg);
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:nth-child(4)
{
    -o-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    -webkit-transform:rotate(-11deg);
    -moz-transform: rotate(-11deg);
     transform: rotate(-11deg);
     font-size:150%;
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:nth-child(5)
{
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform:rotate(2deg);
    -moz-transform: rotate(2deg);
     transform: rotate(2deg);
     font-size:150%;
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:nth-child(6)
{
    -o-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -webkit-transform:rotate(6deg);
    -moz-transform: rotate(6deg);
     transform: rotate(6deg);
     
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
     transition:0.3s;
}

a:hover, a:focus
{
    -o-transform:scale(1.3) rotate(0deg);
    -ms-transform:scale(1.3) rotate(0deg);
    -webkit-transform:scale(1.3) rotate(0deg);
    -moz-transform:scale(1.3) rotate(0deg);
     transform:scale(1.3) rotate(0deg);
     
     z-index:50;
     box-shadow:10px 10px 10px 10px #111111;
}

a:after 
{
    content: attr(title);
    display:block;
}
