main  		
{
max-width: 100% ;
margin-top: 123px;
overflow: hidden;
}

#container 			
{
max-width: 100%;
height: auto; 
}

nav
{
    margin-top: 10px;
    max-width: 100%;
}



nav ul
{
    max-width:100%;
}

nav ul li
{
  
    max-width: 200px;
    float:none;
}

header			
{
max-width: 100%;
}

footer
{
    height: auto;
max-width: 100%;
}
					
					
				
				main form label
				{float:none;
	text-align: left;}				
					
/* Media */
#QR { max-width: 100%;}
#Mobil { max-width: 100%;}
#Flod { max-width: 100%;}
Video { max-width: 100%; }
#Copycat { max-width: 100%; }
#Lejonunge {max-width: 100%; }