/* Dölj innehåll vid utskrift */

header, nav, footer
{
    
    display:none;
}
    
nav li a ul
{
    display:none;
}

li
{
    list-style:none;
}

#bild
{
    display:none;
}


#svgbild
{
    display:none;
}

video
{
    display:none;
}

videotaggen
{
 display:none;   
}

h2
{
border-bottom: none;
}

#Flod
{
    display:none;
}

#Lejonunge
{
    display:none;
}


#Copycat
{
    display:none;
}


/* Visa vid utskrift */
    
main 
{
    width: 100%; margin: 0; float: none; 
    
}

a:link
{
    text-decoration:none;
    color: #797066;
}

a:visited
{
    color: #797066;
}

 a:hover 
 {
 color: black;
 }
 
table
{
    margin-left: 2px;
}

td 
{
    border: 1px solid black;
}


th
{ 
    border: 1px solid black;
}

/* Annat */

@media print{
main a:after
{
content: "(" attr(href) ")";
}
}
