/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Layout */

body.background1
{
background-image:url(pics/download.jpg);
background-attachment:fixed;
}

body.background2
{
background-image:url(pics/download2.jpg);
background-attachment:fixed;
}

body.background3
{
background-image:url(pics/download3.jpg);
background-attachment:fixed;
}

body.background4
{
background-image:url(pics/download4.jpg);
background-attachment:fixed;
}

fieldset
{
    border: 1px solid black;
    margin: 0 10px 10px 10px;
    padding: 5px;
}


table
{
    margin-left: 2px;
}

td 
{ border: 1px solid black;
}

th
{ 
    border: 1px solid black;}

#lab1
{
    border-bottom: 1px solid #000;
        margin-top: 15px;
}

#lab2
{
    border-bottom: 1px solid #000;
    margin-top: 15px;    
}

#wrapper 
    {
    border: 1px solid black;
    max-width: 960px;
    margin: 0 auto;
    background-color: purple;
    
    }
    

#header 
        {
        width: 960px;
        height: 131px;
        border-bottom: 1px solid black;
        background-color: white;
        }
    

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: white;
}


#navigation 
    {
    
    float: left;
    background-color: white;
    width: 200px;
    }
#navigation li h2
{
    background-color: gray;
    border-bottom: 1px solid black;
}

 #navigation li a
 {
     border-bottom: 1px solid black;
     text-decoration: none;
     background-color: #7F70D8;
     color: black;
     font-family: "helvetica", sans-serif;
     font-weight: bold;
     display: block;
     padding: 10px;
     
 }
 
 #navigation a:hover 
 {
 background-color: #EFE;    
 color: #9C9;
 }
 
 #navigation .active a
 {
  color: white;
 }
 
#content 
{ 
    font-family: "Arial", Verdana;
    border-left: 1px solid black; 
    margin-left: 200px;
    width: 759px;
    height: auto;
    background-color: #6C8CD5;
    border-bottom: 1px solid black;
    
}

#contentl
{ 
    font-family: "Arial", Verdana;
    border-left: 1px solid black; 
    margin-left: 200px;
    width: 760px;
    height: auto;
    background-color: #473057;
    border-bottom: 1px solid black;
    
}

#footer 
{
    border-top: 0.5px solid black;
    width: 960px;
    background-color: brown;
    height: 40px;
    font-family: "Monospace";
    color: white;
    text-align: center;
    border-top: 1px solid black;

}





/* Text */

h1 
{
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
  
}


h2
{
    
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
   
}




h3 
{
    font-size: 1.2em;
    margin-bottom:15px;
    font-weight: bold;
}


h3.helloworld
{
    background-image: url(pics/hello.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 35px;
}

h3.blogg
{
    background-image: url(pics/blogg.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 25px;
    background-color:#6C8CD5;
}

h3.videotaggen
{
    background-image: url(pics/videobild.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-indent: 25px;
}

h3.undermig
{border-bottom: 1px solid #000;}


h3.info
{border-bottom: 1px solid #000;}


.logo
{
     background-image: url(pics/logo.png);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: 960px;
     height: 131px;
    
}


.logo2
{
     background-image: url(pics/logo2.png);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: 960px;
     height: 131px;
    
}

.logo3
{
     background-image: url(pics/logo3.png);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: 960px;
     height: 131px;
    
}

#river 
{
 float: right;
 border: 1px solid black;
 margin-right: 4px;
}

h4 
{
font-size: 1em;
margin-bottom:15px;
font-weight: bold;
}

.videotaggen 
{border-bottom: 1px solid #000;}

.vektoriskbild 
{border-bottom: 1px solid #000;}

.helloworld
{border-bottom: 1px solid #000;}

.blogg
{border-bottom: 1px solid #000;}

.webbteknisk
{border-bottom: 1px solid #000;}

.resultat
{
    margin-top: 15px;
}


.kursiv4 { font-style:italic }
.kursiv3 { font-style:italic }
.kursiv2 { font-style:italic }
.kursiv1 { font-style:italic }


p 
{
    font-size: 14px;
margin-bottom:25px;  
}


dd 
{
    margin-bottom:15px;
}

dl dt
{
    font-weight: bold;
    margin-bottom:15px;
}

   